# Ignore node modules
node_modules/

# Ignore generated Tailwind CSS
src/output.css

# Ignore system files
.DS_Store

# Ignore logs
*.log

# Ignore environment files (if used)
.env

# Ignore essentials
ESSENTIALS

#Ignore fontawesome
fontawesome_icons

#Ignore plan text
plan.txt